body,html {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.rounded-0-dropdown ul{
    border-radius:0px;
}

.nav-brand{
    flex-grow: 1;
    flex-basis: 0;
}

.nav-searchbar-container{
    flex-grow: 2;
    justify-content: center;
    flex-basis: 0
}

.nav-searchbar-container form {
    width:100%;
}

.nav-searchbar-container .input-group {
    width:100%;
}

.nav-right-menu{
    flex-grow: 1;
    flex-basis: 0;
}

.toggle-sidebar{
    position: fixed;
    left: 0;
    top: 87px;
}

.shr-sidebar div{
    bottom:0;
    top:unset;
}

.ideas-listing-image img{
    width:120px;
}

.ideas-listing-container {
    padding-left: 172px;
    padding-right: 172px;
}

.post-form-alert{
    margin-top: 9px;
    margin-bottom: -5px!important;
}

.post-editor-container{
    padding: 27px 10px;
    margin-top: 12px;
    display: block;
    height: auto;
}

.post-editor-container .post-meta-container {
    margin-top: 13px;
}

.post-editor-container span{
    color: white;
    margin: 0px 18px;
}

.post-editor-container .btn-post {
    margin-top: 13px;
}

.form-image-upload {
    display: none;
}

.button-icon{
    cursor: pointer;
}

/*start here*/
#app{
    height: 100%;
}

#app .row{
    height: 100%;
}

.loading {
    margin-bottom: 0;
}

.account-form-container{
    background-color: #bfc0c05c;
    border-radius: 0;
}

.account-form-container button[type="submit"] {
    border-radius:0px;
    background-color: #EF8354;
    border-color: #EF8354;
}

.account-form-container input {
    border-radius: 0;
}

.account-form-container .input-group-text {
    border-radius:0px;
    background-color: #4F5D75;
    color: white;
    border-color: #4F5D75;
}

.account-form-container h3 {
    color:white;
}

.account-form-container a {
    color:#EF8354;
}



.account-form-container hr {
    border-color: white;
}

.login-page{
    background-color: #2D3142;
    height: 100%;
}

.login-page .form-section{
    background-color: #2D3142;
}

.login-page .login-form {
    background-color: #2D3142;
}

.login-page .login-form input {
    border-radius:0px;
}

.login-page .login-form button[type="submit"] {
    border-radius:0px;
    background-color: #EF8354;
    border-color: #EF8354;
}

.alert {
    padding-left: 17px;
    padding-right: 38px;
}

.alert ul{
    margin-bottom: 0;
}

.alert p{
    margin-top: 3px;
    margin-top: 3px;
    line-height: 1;
}


.login-page .login-form a {
    color: #EF8354;
}

.login-page .login-form .input-group-text {
    border-radius:0px;
    border-color: #4F5D75;
    background-color: #4F5D75;
    color: white;
}

.login-page .control-wrapper{
    width: 100%;
}

.registration-page {
    background-color: #2D3142;
    min-height: 100%;
}

.reset-password-page {
    background-color: #2D3142;
    min-height: 100%;
}

.change-password-page {
    background-color: #2D3142;
    min-height: 100%;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .login-page .form-section{
        height: unset;
    }
 }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {  }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  }