body,html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.rounded-0-dropdown ul{
    border-radius:0px;
}

.nav-brand{
    flex-grow: 1;
    flex-basis: 0;
}

.nav-searchbar-container{
    flex-grow: 2;
    justify-content: center;
    flex-basis: 0
}

.nav-searchbar-container form {
    width:100%;
}

.nav-searchbar-container .input-group {
    width:100%;
}

.nav-right-menu{
    flex-grow: 1;
    flex-basis: 0;
}

.toggle-sidebar{
    position: fixed;
    left: 0;
    top: 87px;
}

.shr-sidebar div{
    bottom:0;
    top:unset;
}

.ideas-listing-image img{
    width:120px;
}

.ideas-listing-container {
    padding-left: 172px;
    padding-right: 172px;
}

.login-container{
    width: 30%;
    background-color: #cacaca;
    padding: 6rem 3rem;
    border-radius: 8px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post-form-alert{
    margin-top: 9px;
    margin-bottom: -5px!important;
}

.post-editor-container{
    padding: 27px 10px;
    margin-top: 12px;
    display: block;
    height: auto;
}

.post-editor-container .post-meta-container {
    margin-top: 13px;
}

.post-editor-container span{
    color: white;
    margin: 0px 18px;
}

.post-editor-container .btn-post {
    margin-top: 13px;
}

.form-image-upload {
    display: none;
}